
* {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0 0 10px 0;
  padding: 0;
  text-align: center;
}

.container {
  display: flex;
  gap: 10px;
  height: 100vh;
}

.container > aside {
  min-width: 350px;
  max-width: 350px;
  margin: 10px;
  overflow-y: auto;
}

summary {
  cursor: pointer;
  font-size: 1em;
  list-style: none;
  font-weight: bold;
  width: 100%;
}

details[open] > summary {
  margin-bottom: 20px;
}

details {
  border: 2px solid rgba(0, 0, 255, .5);
  margin: 0 0 10px 0;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(0, 0, 255, .10)
}

.error {
  border: 2px solid rgba(255, 0, 0, .5);
  margin: 0 10px 10px 0;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(255, 0, 0, .75);
  color: #ffffff;
  font-weight: bold;
}

button {
  padding: 5px 10px;
  font-size: 1em;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}

input[type=text], input[type=number] {
  padding: 5px 5px;
  font-size: 1em;
  border: 1px solid black;
  border-radius: 5px;
}

input[type=color] {
  height: 40px;
  width: 40px;
}

.sidebar {
  box-shadow: 0 0 10px rgba(0, 0, 0, .95);
  background-color: rgba(0, 0, 255, .10);
  padding: 10px;
  border-radius: 5px;
  border: 4px solid rgba(0, 0, 255, .1)
}

iframe {
  border: 4px solid rgba(0, 0, 255, .25);
  border-radius: 5px;
}

.hide, .error {
  display: none;
}

button.primary {
  width: 60%;
  background-color: rgba(69, 255, 0, .5);
}

button.only.primary {
  width: 100%;
}

select {
  width: 60%;
}

.style-settings div {
  border-top: 2px dashed rgba(0, 0, 0, .2);
  margin: 10px;
  padding: 10px 0 0 0;
}

.style-settings div:first-child {
  border: none;
  padding: 0;
}

.style-settings label {
  text-transform: capitalize;
  font-weight: bold;
}
