:root {
  --background-color: #fff;
  --primaryColor: rgba(0, 0, 255, .5);
  --secondaryColor: rgba(0, 0, 255, .10);
  --errorBorder: rgba(255, 0, 0, .5);
  --errorBackground: rgba(255, 0, 0, .75);
  --buttonBorder: black;
  --inputBorder: black;
  --callToAction: rgba(69, 255, 0, .5);
  --separator: rgba(0,0,0,.2);
  --fontColor: #222;
  --inverseFontColor: #ddd;
  --buttonColor: #222;
  --buttonCTAFont: #222;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #222;
    --primaryColor: rgba(18, 18, 18, 1);
    --secondaryColor: rgba(78, 78, 78, .5);
    --errorBorder: rgba(255, 0, 0, .5);
    --errorBackground: rgba(255, 0, 0, .75);
    --buttonBorder: black;
    --inputBorder: black;
    --callToAction: rgba(69, 255, 0, .5);
    --separator: rgba(255,255,255,.2);
    --fontColor: #ddd;
    --inverseFontColor: #222;
    --buttonColor: #222;
    --buttonCTAFont: #222;
  }
}
.color-sample {
  float:right;
  border: 2px solid black;
  background-color: #fff;
  width: 2em;
  height: 2em;
}

* {
  font-family: 'Roboto', sans-serif;
  color: var(--fontColor);
}


#preview {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
}

h1 {
  margin: 0 0 10px 0;
  padding: 0;
  text-align: center;
}

.container {
  display: flex;
  height: 100vh;
}

.container > aside {
  min-width: 350px;
  max-width: 350px;
  margin: 10px;
  overflow-y: auto;
}

summary {
  cursor: pointer;
  font-size: 1em;
  list-style: none;
  font-weight: bold;
  width: 100%;
  user-select: none;
}

details[open] > summary {
  margin-bottom: 20px;
}

details {
  border: 2px solid var(--primaryColor);
  margin: 0 0 10px 0;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--secondaryColor)
}

.error {
  border: 2px solid var(--errorBorder);
  margin: 0 10px 10px 0;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--errorBackground);
  color: #ffffff;
  font-weight: bold;
}

button {
  padding: 5px 10px;
  font-size: 1em;
  border: 1px solid var(--buttonBorder);
  border-radius: 5px;
  cursor: pointer;
  color: var(--buttonColor);
}

input[type=text], input[type=number] {
  padding: 5px 5px;
  font-size: 1em;
  border: 1px solid var(--inputBorder);
  border-radius: 5px;
  color: var(--buttonColor)
}

input[type=color] {
  height: 40px;
  width: 40px;
}
.sidebar {
  box-shadow: 0 0 10px rgba(0, 0, 0, .95);
  background-color: var(--secondaryColor) ;
  padding: 10px;
  border-radius: 5px;
  border: 4px solid var(--primaryColor);
}

iframe {
  border: 4px solid var(--primaryColor);
  border-radius: 5px;
}

.hide, .error {
  display: none;
}

button.primary {
  width: 60%;
  background-color: var(--callToAction);
  color: var(--buttonCTAFont);
}

button.only.primary {
  width: 100%;
}

select {
  width: 60%;
}

.style-settings div {
  border-top: 2px dashed var(--separator);
  margin: 10px;
  padding: 10px 0 0 0;
}

.style-settings div:first-child {
  border: none;
  padding: 0;
}

.style-settings label {
  text-transform: capitalize;
  font-weight: bold;
}
